{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Zola: Uma Nova Era para a Construção de Sites Estáticos
</h1>
    <p>No vasto universo das ferramentas de construção de sites estáticos,
    o Zola tem vindo a destacar-se como uma opção poderosa e eficiente.
    Construído na linguagem de programação Rust, o Zola é conhecido pela
    sua velocidade impressionante e pela sua abordagem integrada que combina
    um motor de templates e um servidor de conteúdos estáticos. Ao contrário de
    outras ferramentas que requerem a integração de componentes adicionais para a
    renderização ou otimização de conteúdos, o Zola oferece tudo de forma nativa.
    Isto significa que os desenvolvedores e designers podem concentrar-se em criar
    conteúdo impressionante sem se preocuparem com a complexidade técnica.
    Com uma curva de aprendizado suave e uma comunidade ativa, o Zola tem tudo para se
    tornar a ferramenta de escolha para muitos profissionais e entusiastas do web design.
    Se você está buscando uma ferramenta para construir um site estático que seja rápido,
    seguro e fácil de usar, vale a pena dar uma olhada no Zola.</p>
<p>Click <a href="{{ get_url(path='@/blog/_index.md') }}">here</a> Para ler mais.</p>
{% endblock content %}